.wrapper {
    margin: 0 auto;
    text-align: center;
    width: 80%;
    margin-bottom: 20px;
}
.inputField {
    padding: 7px;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Short Stack', cursive;
    margin-right: 15px;
}

.enterBtn {
    /* margin-left: 30px; */
    outline: none;
    font-family: 'Short Stack', cursive;
}