.wrapper {
    margin: 0 auto;
    text-align: center;
    width: 80%;
    margin-bottom: 20px;
}
.inputField {
    padding: 7px;
    border-radius: 10px;
    font-size: 16px;
}

.enterBtn {
    margin-left: 10px;
    outline: none;
}